    /* RESET CSS */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    ul {
        list-style: none;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
    .menu {
        /* background-color: #FFD400; */
        background-color: black;
        padding: 0 150px;
        height: 60px;
    }

    header {
        background-color: black;
        /*tùy chỉnh*/
        text-align: center;
    }

    .logo {
        width: 100%;
        height: 60px;
    }

    nav {
        /* background-color: #FFD400; */
        background-color: black;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul li a {
        color: white;
    }

    nav ul li:nth-child(2) a {
        color: #FFD400;
    }

    nav ul li:nth-child(3) {
        position: relative;
    }

    nav ul li:nth-child(3) input {
        width: 250%;
        height: 30px;
        border-radius: 5px;
        border: none;
        padding-left: 6px;
        outline: none;
    }

    nav ul li:nth-child(3) i {
        position: absolute;
        font-size: 15px;
        left: 470px;
        bottom: 7px;
        color: #333;
        cursor: pointer;
    }

    nav ul li:nth-child(4) button {
        height: 30px;
        padding: 0 12px;
        cursor: pointer;
        background-color: transparent;
        color: white;
        border: 2px solid #ddd;
        border-radius: 5px;
        margin-left: 270px;
    }

    nav ul li:nth-child(4) button i {
        margin-right: 6px;
    }

    nav ul li:nth-child(4) button:hover {
        background-color: #636363;
    }

    nav ul li:nth-child(5) {
        text-align: center;
    }

    nav ul li:hover a {
        color: #FFD400;
        text-decoration: none;
    }

    .menu-bar {
        background-color: #FFD400;
        padding: 1px 150px;
    }

    .menu-bar ul {
        display: flex;
        justify-content: space-between;
    }

    .menu-bar ul li a {
        color: black;
        font-size: 16px;
        text-decoration: none;
    }

    .menu-bar ul li a i {
        margin-right: 6px;
    }

    .menu-bar-content > ul >li {
        margin-bottom: -17px;
        padding: 10px 17px 10px 17px;
    }

    .menu-bar ul li:hover {
        background-color: rgb(206, 206, 36);
    }

    .address-form, .login-form {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #333;
        display: none;
        z-index: 999;
    }

    .address-form-content {
        width: 450px;
        height: auto;
        background-color: white;
        border-radius: 5px;
    }
    .login-form-content {
        width: 30%;
        height: auto;
        background-color: white;
        border-radius: 5px;
    }

    .address-form-content form,
    .login-form-content form {
        padding: 0 40px;
    }

    .address-form-content h2,
    .login-form-content h2 {
        font-size: 25px;
        padding: 12px 0;
        border-bottom: 1px solid #ddd;
        position: relative;
        font-weight: 700;
        margin-top: 2px;
    }

    .address-form-content h2 span,
    .login-form-content h2 span {
        font-size: 14px;
        display: block;
        position: absolute;
        height: 30px;
        padding: 0 6px;
        border: 2px solid #ddd;
        right: 12px;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        line-height: 30px;
        border-radius: 5px;
    }

    .address-form-content form input,
    select {
        height: 40px;
        display: block;
        width: 100%;
        margin-top: 20px;
        border: 1px solid #ddd;
        padding: 6px;
        border-radius: 5px;
    }

    .address-form-content form p {
        font-size: 16px;
    }

    .sb-button {
        color: white;
        margin-top: 90px;
        margin-bottom: 30px;
        cursor: pointer;
        background-color: #F97E0E;
        outline: none;
        border: none;
        border-radius: 5px;
    }

    .menu-bar-content ul li {
        position: relative;
    }

    .submenu {
        position: absolute;
        background-color: #FFD400;
        width: 300px;
        height: auto;
        left: 0;
        top: 100%;
        padding: 12px;
        display: none;
        z-index: 999;
        border-radius: 10px;
    }

    .submenu ul {
        display: flex;
        flex-direction: column;
    }

    .submenu ul li {
        padding: 6px 0;
    }

    .submenu ul li:hover a {
        color: blue;
    }

    .submenu ul li:hover {
        background: none;
    }

    .menu-bar-content ul li:hover .submenu {
        display: block;
    }

    .login-form {
        display: none;
    }

    .login-form-content form input,
    .btn {
        width: 100%;
        font-size: 16px;
        padding: 9px;
        border-radius: 5px;
        border: 1px solid #777;
        margin-bottom: 0.7rem;
    }

    .login-form-content form label {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #555;
        margin-bottom: 0.8rem;
    }

    .link {
        display: inline-block;
        font-size: 16px;
        color: #256cf0;
        margin-bottom: 2rem;
        margin-left: 0.8rem;
    }

    .face {
        background-color: #4267b2;
        color: #fff;
        margin-top: 2rem;
        background-image: url(../images/icons8-facebook-48.png);
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: 3px;
    }

    .google {
        color: #555;
        background-image: url(../images/icons8-google-48.png);
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: 3px;
    }

    .btn-submit {
        background-color: #0171d3;
        color: #fff;
    }

    .line {
        display: inline-block;
        border-bottom: solid 1px #aaa;
        width: 44%;
    }

    .center {
        color: #777;
        margin: 0 0.8rem;
        font-size: 1.4rem;
    }

    .body1 {
        background-image: url(../images/image_56-hinh-nen-powerpoint-tet.jpg);
        height: 650px;
    }

    .sale img {
        display: flex;
        width: 70%;
        margin: 0 auto;
        padding-top: 20px;
    }
    /*slider*/
    .mySlides1 {
        display: none
    }

    .mySlides1 img {
        vertical-align: middle; 
    }

    .slideshow-container {
        max-width: 950px;
        position: relative;
        margin-left: 7%;
        margin-top: 25px;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 15px;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        text-decoration: none;
        background-color: #f1f1f1;
        color: black;
    }
    body{
        overflow-x: hidden;
    }
    .content-right img{
        width: 100%;
        height: 180px;
        margin-top: 5px;
        padding-top: 18px;
        margin-left: -20px;
    }

    .content {
        margin-top: 70px;
        margin-left: 10%;
        margin-right: 6%;
    }

    .red-text {
        color: red;
        font-weight: bolder;
    }

    .watch-all {
        color: #676767;
        margin-left: -70px;
    }

    a.product-imgs img {
        width: 75%;
        border-radius: 5px;
        display: flex;
        margin: 0 auto;
    }

    .img-phone {
        width: 19%;
        height: auto;
        box-shadow: 0 0 5px rgb(178, 173, 173);
        margin-top: 30px;
        margin-right: 30px;
        border-radius: 5px;
    }

    .img-phone h6 {
        background-color: #F1F1F1;
        color: red;
        width: 35%;
        padding-left: 7px;
        border-radius: 5px;
        margin-left: -10px;
    }

    .img-phone h5 {
        font-weight: bold;
        padding-left: 15px;
    }

    .img-phone img {
        border-radius: 100%;
        width: 15%;
        margin: 15px 5px 15px 15px;
    }

    .img-phone p1 {
        font-size: 17px;
        font-weight: bold;
        color: red;
        padding-left: 15px;
    }

    .img-phone p2 {
        font-size: 17px;
        color: #B8B8B8;
        padding-left: 5px;
        font-weight: bold;
        text-decoration: line-through;
    }

    .img-phone i {
        width: 30%;
        height: 40px;
        text-align: center;
        padding-top: 15px;
        border-radius: 5px;
        color: white;
    }

    a.buy {
        text-decoration: none;
        color: white;
        background-color: red;
        border-radius: 5px;
        padding-left: 25px;
        margin-bottom: 10px;
    }

    a.buy:hover {
        background-color: #cf301f;
    }

    a.mini-icon {
        text-decoration: none;
        color: #767c82;
        /* cursor: help; */
    }

    a.mini-icon img {
        margin-top: -2px;
    }

    /* Tin Tức */
    .new-right {
        display: flex;
        justify-content: ;
    }

    .new h3 {
        font-size: 20px;
        color: black;
        font-weight: bold;
    }

    .new p {
        font-size: 12px;    
        color: black;
    }

    hr {
        border: none;
        width: 100%;
        height: 1px;
        background-color: black;
    }

    :hover {
        text-decoration: none;
    }

    .new img {
        width: 100%;
        border-radius: 15px;
        height: auto;
        display: block;
        margin-top: 15px;
    }

    .text-news {
        padding-bottom: 20px;
    }

    .truncate p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    /* Hệ thống cửa hàng */
    .background {
        background-image: url('../images/r236.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        height: 70vh;
        width: 130vh;
        color: white;
        position: relative;
        margin-left: 200px;
    }

    .background::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        z-index: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 30));
    }

    .text-store {
        color: black;
        z-index: 1;
        margin-top: -26vw;
        position: absolute;
        margin-right: 40%;
    }

    .text-store h2{
        margin-bottom:20px;
    }

    .btn1 {
        padding: 10px 20px;
        background-color: #cf301f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.6s;
        z-index: 1;
    }

    .btn1:hover {
        background-color: black;
        color: white;
    }

    /* Cam kết */
    .quality {
        display: flex;
        margin-top: 40px;
        margin-left: 8%;
    }

    .box-quality {
        width: 20%;
        /* height: 210px; */
        height: 90%;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        margin: 10px;
        text-align: center;
    }

    .box-quality img {
        margin-top: 10px;
        width: 26%;
    }

    .box-quality h3 {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
    }

    /* description */
    .description {
        background-color: #cf301f;
        width: 100%;
        height: 400px;
        margin-top: 50px;
        display: block;
    }

    .text-desription h2 {
        color: #ffffff;
        font-style: italic;
        text-align: center;
    }

    .text-desription p {
        color: #ffffff;
        font-style: italic;
        font-size: 16px;
        text-align: center;
    }

    /* contact */
    .contact h3 {
        font-size: 14px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .social-icon {
        display: inline-block;
        margin: 0 10px;
        font-size: 24px;
        color: #cf301f;
        transition: color 0.3s;
    }

    .social-icon img {
        width: 24px;
        height: 24px;
    }

    .social-icon:hover {
        color: #ddd;
    }

    /* footer */
    .footer {
        background-color: #cf301f;
        padding: 10px 0 10px;
        width: 100%;
        margin-top: 10px;
    }

    .footer p {
        text-align: center;
        color: #ffffff;
    }